{% extends "layout.html.jinja2" %}
{% block title %}Chat{% endblock %}

{% block scripts %}
    {% assets "chat_js" %}
        <script type="text/javascript" src="{{  ASSET_URL }}"></script>
    {% endassets %}

    {% assets "chat_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="chatbox embed-responsive-item" src="https://bronytv.net/kiwi/?&theme=relaxed"></iframe>
          </div>
          <div align="center" class="purple-box light-purple" style="margin-top: 1em;">
              <p>Please respect the <a href="/rules">rules</a> in the chat, and do not discuss spoilers until 24 hours after the episode's original air.</p>
              <p>To join a channel other than the main channel, type /join #ChannelNameHere.</p>
              <p>Suggested Channels:</p>
              <ul style="color: white;">
                  <li>#btvcloudsdale - For SFW RPing purposes!</li>
                  <li>#btvbadlands - For NSFW purposes!</li>
                  <li>#SpoilerCloudBTV - For the juicy spoilers!</li>
              </ul>
          </div>
        </div>
    </div>
{% endblock %}
