{% extends "layout.html.jinja2" %}
{% block title %}Chat{% endblock %}

{% block scripts %}
    {% assets "chat_js" %}
        <script type="text/javascript" src="{{  ASSET_URL }}"></script>
    {% endassets %}

    {% assets "chat_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block content %}
    <div class="row" ng-app="btvChatApp" ng-controller="ChatCtrl">
        <div class="col-md-offset-1 col-md-10">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="chatbox embed-responsive-item" ng-src="{[ properties.chat_url | trustAsResourceUrl ]}"></iframe>
          </div>
          <div align="center" class="purple-box light-purple" style="margin-top: 1em;">
              <p>Please respect the <a href="/rules">rules</a> in the chat, and do not discuss spoilers until 24 hours after the episode's original air.</p>
              <p>Interactions with @Static bot must be executed in Discord client.</p>
              <p>To access the spoilers & roleplaying channel, please contact a staff to assign you a role. (You must be authenticated with Discord)</p>
          </div>
        </div>
    </div>
{% endblock %}
