{% extends "layout.html.jinja2" %}
{% block title %}Index{% endblock %}

{% block scripts %}
    <script>
    $(document).ready(function() {
        $(window).scroll(function() {
            /* Hack to make the countdown box scroll with the page */
            var scrollTop = $(window).scrollTop();
            var sa = $("#scroll-anchor");
            var offset = sa.offset().top;
            var rb = $("#right-box");

            if (scrollTop > offset) {
                rb.css({position: "fixed", top: "10px", width: "inherit"});
                sa.css({width: "inherit"});
            } else {
                rb.css({position: "relative", top: "", width: ""});
                sa.css({width: ""});
            }
        });
    });
    </script>
    {% assets "index_js" %}
        <script type="text/javascript" src="{{  ASSET_URL }}"></script>
    {% endassets %}

    {% assets "index_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block content %}
    <div class="row" ng-app="btvIndexApp">
        <div class="col-md-6 col-md-offset-1">
            <div class="purple-box" id="left-box">
                <div id="news" ng-controller="NewsCtrl" ng-init="init()">
                    <div ng-show="news.fetching">
                        Fetching news...
                    </div>
                    <div ng-show="news.error">
                        An error occurred fetching the news!
                    </div>
                    <div ng-repeat="item in news.posts" ng-switch="item.type">
                        <hr ng-if="$index > 0" />
                        <div ng-switch-when="quote">
                            <h3><a href="{[ item.short_url ]}">{[ item.text ]}</a></h3>
                            <span ng-bind-html="item.source | unsafe"></span>
                        </div>
                        <div ng-switch-when="photo">
                            <h3><a href="{[ item.short_url ]}">BronyTV</a></h3>
                            <span>
                                <img ng-src="{[ item.photos[0].original_size.url ]}" /><br>
                                <span ng-bind-html="item.caption | unsafe"></span>
                            </span>
                        </div>
                        <div ng-switch-when="link">
                            <h3><a href="{[ item.url ]}">{[ item.title || "Quote" ]}</a></h3>
                            <span ng-bind-html="item.description | unsafe"></span>
                        </div>
                        <div ng-switch-when="video">
                            <h3><a href="{[ item.short_url ]}">BronyTV</a></h3>
                            <span>
                                <span ng-bind-html="item.player[2].embed_code | unsafe"></span>
                                <br>
                                <span ng-bind-html="item.caption | unsafe"></span>
                            </span>
                        </div>
                        <div ng-switch-when="audio">
                            <h3><a href="{[ item.short_url ]}">{[ item.track_name || "BronyTV" ]}</a></h3>
                            <span>
                                <span ng-bind-html="item.player | unsafe"></span>
                                <br>
                                <span ng-bind-html="item.caption | unsafe"></span>
                            </span>
                        </div>
                        <div ng-switch-default>
                            <h3><a href="{[ item.short_url ]}">{[ item.title || "BronyTV" ]}</a></h3>
                            <span ng-bind-html="item.body | unsafe">
                            </span>
                        </div>

                        <small>Posted: {[ item.date | convertToLocalTime ]}
                        by <a ng-href="//{[ item.post_author ]}.tumblr.com/">{[ item.post_author ]}
                        <img ng-src="//api.tumblr.com/v2/blog/{[ item.post_author ]}.tumblr.com/avatar/16" width="16" height="16" /></a>
                        <span ng-if="item.trail[0].blog.name &amp;&amp; item.trail[0].blog.name != 'btv-news'">
                        (reblogged from {[ item.trail[0].blog.name ]})</span>
                        <span ng-if="item.source_url">(Source: <a ng-href="{[ item.source_url ]}">{[ item.source_title ]}</a>)</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div id="scroll-anchor">
                <div class="purple-box hidden-sm hidden-xs" id="right-box" ng-controller="CountdownCtrl" ng-init="init()">
                    <div class="centered">
                        <h3>
                            <span ng-if="streaming">Now Streaming: <span ng-bind-html="props.now_streaming | unsafe"></span></span>
                            <span ng-if="!streaming">Stream Offline</span>
                        </h3>
                        <hr>
                    </div>
                    <div class="countdown centered">
                        <div ng-if="!isPonyTime()">
                            <timer interval="1000" end-time="time">
                                <h3 class="light-purple">How long until Pony Time?</h3>
                                <div class="numbers" id="count2" style="text-align: center;"></div>
                                <div class="numbers" id="dday">{[ days ]}</div>
                                <div class="title" id="days">Day{[ daysS ]}</div>
                                <div class="numbers" id="dhour">{[ hours ]}</div>
                                <div class="title" id="hours">Hour{[ hoursS ]}</div>
                                <div class="numbers" id="dmin">{[ minutes ]}</div>
                                <div class="title" id="minutes">Minute{[ minutesS ]}</div>
                                <div class="numbers" id="dsec">{[ seconds ]}</div>
                                <div class="title" id="seconds">Second{[ secondsS ]}</div>
                            </timer>
                            <h5 ng-if="!isDistant()">{[target]} at<br />{[btvtime.format('h:mm A z [on] dddd')]}<br />(That's {[time.format('dddd h:mm A')]} for you.)</h5>
                            <h5 ng-if="isDistant()">{[target]} at<br />{[btvtime.format('h:mm A z [on] MMMM Do')]}</h5>
                        </div>
                        <h3 class="light-purple" ng-if="isPonyTime()">{[done]}</h3>
                    </div>
                    <hr>
                    <div class="centered" ng-controller="EventsListCtrl" ng-init="init()">
                      <h3 class="light-purple">Upcoming Events</h3>
                      <div ng-show="sideevents.fetching">
                          Fetching events...
                      </div>
                      <div ng-show="sideevents.error">
                          An error occurred fetching the events!
                      </div>
                      <ul class="events">
                        <li ng-repeat="item in sideevents.events"><a href="event/{[ item.id ]}">{[ item.summary ]}</a> on {[ item.start.dateTime | date:"MMM d, y 'at' h:mm a"]}</li>

                      </ul>
                        <hr>
                    </div>
                    <p><a href="https://www.facebook.com/TVBrony" target="_blank">Our Facebook Page!</a></p>
                    <p><a href="https://twitter.com/TVBrony" target="_blank">Follow us on Twitter!</a></p>
                    <p><a href="http://www.youtube.com/user/TheBronyTV" target="_blank">See past recordings on YouTube!</a></p>
                    <p><a href="http://btv-news.tumblr.com/" target="_blank">See more news on Tumblr!</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
