<!DOCTYPE html>
<html>
    <head>
        <title>BronyTV - {% block title %}{% endblock %}</title>

        <link rel="shortcut icon" href="/static/img/favicon.png" />

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="keywords" content="Brony Stream, Pony Stream, MLP Stream, Brony TV, BronyTV, Pony Episodes" />
        <meta name="description" content="An internet video stream by bronies, for bronies." />
        <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script type='text/javascript' src='//code.jquery.com/jquery-1.10.2.min.js'></script>
        <script type="text/javascript" src="/static/js/angular.js"></script>
        <script type="text/javascript" src="/static/js/angular/common.js"></script>
        <script type="text/javascript" src="/static/js/header.js"></script>
        <link rel="stylesheet" href="/static/css/bootstrap.css" />
        <link rel="stylesheet" href="/static/css/global.css" />
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div id="nav" role="navigation">
                        <a href="/"><img src="/static/img/logoUnpadded.png" alt="BronyTV Logo" height="100" /></a>
                        <ul class="nav nav-pills" id="nav-links">
                            <li role="presentation" id="nav-home"><a href="/">Home</a></li>
                            <li role="presentation" id="nav-stream"><a href="/stream">Stream</a></li>
                            <li role="presentation" id="nav-about"><a href="/about">About</a></li>
                            <li role="presentation" id="nav-rules"><a href="/rules">Rules</a></li>
                            <li role="presentation" id="nav-contact"><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            {% block content %}{% endblock %}
            <div class="row">
                <div class="col-md-10 col-md-offset-1" align="center" id="footer">
                    <p><a href="/">BronyTV</a> revision <a href="https://github.com/BronyTV/bronytv.net">{{ site_revision }}</a>. Site content &copy; 2011-2015 BronyTV. All rights reserved.</p>
                    <p>My Little Pony: Friendship is Magic is &copy; Hasbro. All creations are &copy; to their respective artists. All songs and videos are property of their respective artists.</p>
                </div>
            </div>
        </div>
    </body>
</html>
