{% extends "layout.html.jinja2" %}
{% block title %}Stream{% endblock %}

{% block scripts %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mouse0270-bootstrap-notify/3.1.5/bootstrap-notify.min.js"></script>
    {% assets "stream_js" %}
        <script type="text/javascript" src="{{  ASSET_URL }}"></script>
    {% endassets %}

    {% assets "stream_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
    <script type="text/javascript">
        videojs.options.flash.swf = "/static/swf/video-js.swf";
    </script>
{% endblock %}

{% block content %}
    <div class="row" ng-app="btvStreamApp" ng-controller="StreamCtrl" ng-init="init()">
        <div ng-class="{ 'col-md-offset-1': true, 'col-md-6': chatShown, 'col-md-10': !chatShown }">
            <h3>
                Stream
                <span ng-if="streaming">(<span ng-bind-html="properties.now_streaming | unsafe"></span>)</span>
                <span ng-if="!streaming">(Offline)</span>
            </h3>
            <div align="center">
                <div class="aspect-ratio">
                    <iframe id="stream-frame" ng-src="{[ properties.stream_url | trustAsResourceUrl ]}"
                        style="border: 0 none transparent; overflow: hidden;" allowfullscreen
                        frameborder="no" scrolling="no"></iframe>
                </div>
                <div id="stream-buttons">
                    <button class="btn btn-purple btn-xs" ng-click="reloadStream()">Reload Stream</button>
                    <button class="btn btn-purple btn-xs" ng-click="popoutChat()">Pop Out Chat</button>
                    <button class="btn btn-purple btn-xs" ng-click="toggleChat()"><span ng-show="chatShown">Hide</span><span ng-hide="chatShown">Show</span> Chat</button>
                    <button class="btn btn-purple btn-xs" ng-click="popoutAlternateStream()">Alternate Stream</button>
                </div>
            </div>
        </div>
        <div ng-class="{ 'col-md-4': chatShown }">
            <div id="chat" ng-show="chatShown">
                <h3>Chat</h3>
                <div class="chat-aspect-ratio">
                    <iframe id="chat" scrolling="no" frameborder="no"
                        src="https://kiwiirc.com/client?settings=3eda7e82f0210b259be287b5bfa1a89d"></iframe>
                </div>
            </div>
        </div>
        <div ng-if="showPlaylist" class="col-md-12 playlist">
            <ul class="playlist-root">
                <li ng-repeat="item in playlist track by item.id" class="purple-box light-purple playlist-item">
                    <a ng-if="item.link" ng-href="{[ item.link ]}">{[ item.name ]}</a>
                    <span ng-if="!item.link">{[ item.name ]}</span>
                    <span ng-if="item.artist"> - {[ item.artist ]}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div align="center" class="purple-box light-purple" style="margin-top: 1em;">
                <p>If you don't see the video or the video stops for some reason, try clicking the "Reload Stream" button beneath the player.</p>
                <p>If the video is blocked in your country or otherwise unviewable, try the "Alternate Stream" button.</p>
                <p>To join a channel other than the main channel, type /join #ChannelNameHere.</p>
                <p>Suggested Channels:</p>
                <ul style="color: white;">
                    <li>#btvcloudsdale - For SFW RPing purposes!</li>
                    <li>#btvbadlands - For NSFW purposes!</li>
                    <li>#SpoilerCloudBTV - For the juicy spoilers!</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
