{% extends "layout.html.jinja2" %}
{% block title %}Stream{% endblock %}

{% block scripts %}
    <style>
        ul {
            list-style-position: inside;
        }

        #stream-frame {
            min-height: 100%;
        }

        .aspect-ratio {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 56.25%;
        }

        .chat-aspect-ratio {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 86%;
        }

        .aspect-ratio iframe, .chat-aspect-ratio iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0; top: 0;
        }

        #stream-buttons {
            padding-top: 0.75em;
        }

        /*
  We're using CSS transitions for when
  the enter and move events are triggered
  for the element that has the .repeated-item
  class
*/
.repeated-item.ng-enter, .repeated-item.ng-move {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity:0;
}

/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
  opacity:1;
}

/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .repeated-item class
*/
.repeated-item.ng-leave {
  -webkit-animation:0.5s my_animation;
  -moz-animation:0.5s my_animation;
  -o-animation:0.5s my_animation;
  animation:0.5s my_animation;
}

@keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-moz-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-o-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}
    </style>
    <link rel="stylesheet" href="/static/css/video-js.min.css" />
    <script type="text/javascript" src="/static/js/angular-animate.js"></script>
    <script type="text/javascript" src="/static/js/video.min.js"></script>
    <script type="text/javascript" src="/static/js/angular/stream.js"></script>
    <script>
        videojs.options.flash.swf = "/static/swf/video-js.swf";
    </script>
{% endblock %}

{% block content %}
    <div class="row" ng-app="btvStreamApp" ng-controller="StreamCtrl" ng-init="init()">
        <div ng-class="{ 'col-md-offset-1': true, 'col-md-6': chatShown, 'col-md-10': !chatShown }">
            <h3 ng-show="chatShown">Stream</h3>
            <div align="center">
                <div ng-if="!altStream" class="aspect-ratio">
                    <iframe id="stream-frame" ng-src="{[ properties.stream_url | trustAsResourceUrl ]}"
                        style="border: 0 none transparent; overflow: hidden;" webkitallowfullscreen allowfullscreen
                        frameborder="no" scrolling="no"></iframe>
                </div>
                <div ng-if="altStream">
                    <div id="player" class="video" style="text-align:center;">
                        <div id="vid">
                            <video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" height="600" width="800" autoplay poster="/static/img/logoUnpadded.png" data-setup="{}">
					            <source src="rtmp://dusky.horse:1935/live/bwu2as4hc738" type="rtmp/mp4">
					            <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                            </video>
			            </div>
                    </div>
                </div>
                <div id="stream-buttons">
                    <button class="btn btn-purple btn-xs" ng-click="reloadStream()">Reload Stream</button>
                    <button class="btn btn-purple btn-xs" ng-click="popoutChat()">Pop Out Chat</button>
                    <button class="btn btn-purple btn-xs" ng-click="toggleChat()"><span ng-show="chatShown">Hide</span><span ng-hide="chatShown">Show</span> Chat</button>
                    <button class="btn btn-purple btn-xs" ng-click="swapStream()">Broken Stream?</button>
                </div>
                <div ng-if="showPlaylist" style="max-width: 75%; margin-top: 5px;">
                    <table class="table table-bordered table-condensed">
                        <tbody>
                            <tr ng-repeat="item in playlist track by item.id" class="playlist-item">
                                <td>
                                    <a ng-if="item.link" ng-href="{[ item.link ]}">{[ item.name ]}</a>
                                    <span ng-if="!item.link">{[ item.name ]}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div ng-class="{ 'col-md-4': chatShown }">
            <div id="chat" ng-show="chatShown">
                <h3>Chat</h3>
                <div class="chat-aspect-ratio">
                    <iframe id="chat" scrolling="no" frameborder="no"
                        src="https://kiwiirc.com/client?settings=3eda7e82f0210b259be287b5bfa1a89d"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div align="center" class="purple-box light-purple" style="margin-top: 1em;">
                <p>If you don't see the video or the video stops for some reason, try clicking the "Reload Stream" button beneath the player.</p>
                <p>If the video is blocked in your country, try the "Broken Stream" button.</p>
                <p>To join a channel other than the main channel, type /join #ChannelNameHere.</p>
                <p>Suggested Channels:</p>
                <ul style="color: white;">
                    <li>#btvcloudsdale - For SFW RPing purposes!</li>
                    <li>#btvbadlands - For NSFW purposes!</li>
                    <li>#SpoilerCloudBTV - For the juicy spoilers!</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
