<!DOCTYPE html>
<html>
    <head>
        <title>BronyTV - {% block title %}{% endblock %}</title>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="/static/img/favicon.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="/static/css/bootstrap.css" />
        <script type='text/javascript' src='//code.jquery.com/jquery-1.10.2.min.js'></script>
        <script type="text/javascript" src="/static/js/angular.js"></script>
        <script type="text/javascript" src="/static/js/header.js"></script>
        <style>
            body {
                background-image: url(/static/img/new_background.png);
                background-repeat: no-repeat;
                background-size: 100%;
                background-color: #000000;
            }
        
            .nav-pills > li.active > a,
            .nav-pills > li.active > a:hover,
            .nav-pills > li.active > a:focus {
                color: #ffffff;
                background-color: #4f23a2;
            }

            #nav {
                padding-top: 2.2em;
                margin-bottom: 0.5em;
            }
        
            #nav-links {
                display: inline-block;
                margin-left: 0.938em;
                margin-top: 2.2em;
                position: absolute;
            }
        
            a, a:hover, a:focus {
                color: #9E75E3;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            .purple-box {
                background: rgba(171, 137, 227, 0.25) none repeat scroll 0% 0%;
                border-radius: 10px;
                background-size:  100%;
                padding: 3px;
                padding-left: 10px;
                padding-right: 10px;
                color: white;
            }

            .light-purple {
                color: #9E75E3;
            }

            hr {
                border: none;
                height: 1px;
                color: #9E75E3;
                background-color: #9E75E3;
            }

            #footer {
                padding-top: 10px;
            }
        </style>
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div id="nav" role="navigation">
                        <a href="/"><img src="/static/img/logoUnpadded.png" alt="BronyTV Logo" height="100" /></a>
                        <ul class="nav nav-pills" id="nav-links">
                            <li role="presentation" id="nav-home"><a href="/">Home</a></li>
                            <li role="presentation" id="nav-stream"><a href="/stream">Stream</a></li>
                            <li role="presentation" id="nav-about"><a href="/about">About</a></li>
                            <li role="presentation" id="nav-rules"><a href="/rules">Rules</a></li>
                            <li role="presentation" id="nav-contact"><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            {% block content %}{% endblock %}
            <div class="row">
                <div class="col-md-10 col-md-offset-1" align="center" id="footer">
                    <p><a href="/">BronyTV</a> revision <a href="https://github.com/BronyTV/bronytv.net">{{ site_revision }}</a>. Site content &copy; 2011-2015 BronyTV. All rights reserved.</p>
                    <p>My Little Pony: Friendship is Magic is &copy; Hasbro. All creations are &copy; to their respective artists. All songs and videos are property of their respective artists.</p>
                </div>
            </div>
        </div>
    </body>
</html>
