/* html {
	background: #202860 url('/Pictures/backing3.png')  top center no-repeat;
	background-size:100% auto;
} */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/ODelI1aHBYDBqgeIAH2zlNHq-FFgoDNV3GTKpHwuvtI.woff) format('woff');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 700;
	src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGIqjGYJUyOXcBwUQbRaNH6c.woff) format('woff');
}
body {
	margin: 0 0 25px;
	padding: 0 20px;
	font-size: 14px;
	line-height: 20px;
	background: transparent;
	color: #DDD;
	font-family: 'Source Sans Pro', sans-serif;
	background: #000000 url('/Pictures/rariSexy.png')  top center no-repeat;
	background-size: 100% auto;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
hr {
	margin: 20px 0;
	border: 3px solid #9E75E3;
	border-radius: 4px;
}
img {	/* Responsive images (ensure images don't scale beyond their parents) */
	max-width: 100%;	/* Part 1: Set a maxium relative to the parent */
	width: auto\9;		/* IE7-8 need help adjusting responsive images */
	height: auto;		/* Part 2: Scale the height according to the width, otherwise you get stretching */
	vertical-align: middle;
	border: 0;
	display:block;
}
p {
	margin: 0 0 10px;
}
a {
	color: #9E75E3;
	text-decoration: none;
}
a:hover,
a:active {
	color: #BDA1EC;
	text-decoration: underline;
	outline: 0;
}
h1 {
	font-size: 45px;
}
h2 {
	font-size: 32px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 10px 0;
	font-weight: bold;
	line-height: 1;
	color: #9E75E3;
}
.streaming {
	font-size: 24px;
	color: #CCCCCC;
	line-height: 25px;
	text-shadow: 0 1px 1px #000;
}
.streamer {
	font-size: 45px;
	margin: 10px 0;
	font-family: inherit;
	font-weight: bold;
	line-height: 1;
	color: #BAA2F1;
}
ul,
ol {
	padding: 0;
	margin: 0 0 0 25px;
}
li {
	line-height: 20px;
}
.nav > li > a:hover {
	text-decoration: none;
	color: #9E75E3;
	background: none;
}
.nav > li {
	float: left;
}
.nav > li > a {
	display: block;
	line-height: 14px;
	margin: 2px;
	border-radius: 5px;
	padding: 8px 25px;
	font-size: 22px;
	color: #FFF;
	text-shadow: 0 1px 1px #000;
}
.current_page_item {
	border-radius: 4px;
	background: rgba(189,161,236,0.7);
}
.page_link {
	border-radius: 4px;
	background: rgba(189,161,236,0.5);
}
.nav {
	margin-left: 0;
	margin-bottom: 20px;
	list-style: none;
}
div.floating {
	padding: 15px;
	margin: 3px;
	margin-bottom: 23px;
	border-radius: 5px;
	background: rgb(10, 10, 10) transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(10, 10, 10, 0.5); /* RGBa with 0.6 opacity */
	border: 2px solid #111;
	box-shadow:0 0 15px #11171C;
}
#header {
	text-align:center;
}
#copyright {
	color: #FFF;
	font-size: 12.5px;
	line-height: 13px;
	text-align: center;
}
table.abouttable td {
	padding:14px;
}
table {
	max-width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
}
.container {
	width: 98%;
	margin-right: auto;
	margin-left: auto;
	*zoom: 1;
}
.pvl-navbar {
	margin-left: -20px;
	margin-right: -20px;
}
.numbers {
	font-size: 28px;
	font-weight: bold;    /* options are normal, bold, bolder, lighter */
	font-style: normal;   /* options are normal or italic */
	color: #9E75E3;       /* change color using the hexadecimal color codes for HTML */
}
.title {		/* the styles below will affect the title under the numbers, i.e., "Days", "Hours", etc. */
	margin: 12px 0px 0px 0px;
	padding: 0px 8px 0px 3px;
	font-weight: bold;    /* options are normal, bold, bolder, lighter */
	font-style: italic;   /* options are normal or italic */
	color: #9E75E3;       /* change color using the hexadecimal color codes for HTML */
}
.countdown {
	text-align: center;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
	height: 48px;
	border-style: none;
	background-color: transparent;
	position: relative;   /* leave as "relative" to keep timer centered on your page, or change to "absolute" then change the values of the "top" and "left" properties to position the timer */
	top: 0px;             /* change to position the timer */
}
.countdiv {
	border-radius: 15px;

	background: rgb(80, 66, 99); /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(80, 66, 99, 0.7); /* RGBa with 0.6 opacity */

	box-shadow:0 0 15px #504263;
}
.chatbox {
	padding:0px;
	display:float;
	z-index:100;
	float:right;
	width:40%;
}
#player {
	padding:0px;
	z-index:100;
	display:inline-block;
}
.text {
	margin-top:5px;
}
#playlist ol {
	list-style-type: none;
	margin: 0px;
}
#playlist ol li {
	display: none;
	border: 1px solid #88f;
	margin: 2px;
	padding: 2px;
	background-color: #ccf;
	color: #444;
}
 #popout {
    position:absolute;
    top:15%;
    right:0%;
}
#trigger {
    position: absolute;
    top: 15%;
    right: 0%;
    width:80px;
    height:80px;
    cursor: pointer;
    background:#6A6A7C;
}
#rariTheme1 {
    position: absolute;
	float:right;
    right: 0px;
    cursor: pointer;
}
#StreamText{
	background-color: rgba(5,5,5,0.7);
	padding: 5px 0;;
}

