.news-post > span {
    color: #ffffff;
}

.title, .numbers {
    display: inline-block;
}

.numbers {
    font-size: 1.75em;
    color: #ffffff;
}

.title {
    font-size: 1.5em;
}

#right-box > .centered {
    text-align: center;
}

#right-box {
    max-width: 55em;
}

#news figure img {
  display: block;
  max-width: 100%;
  height: auto;
}

blockquote {
  border-color: #9E75E3;
}
ul.events {
    list-style-position: inside;
    position: relative;
    left: -20px;
    list-style: none;
}
