ul {
    list-style-position: inside;
}

#stream-frame {
    min-height: 100%;
}

/* All of the aspect-ratio things are used to ensure that the stream and chat maintain the same aspect ratio. */
.aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.chat-aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 86%;
}

.aspect-ratio iframe, .chat-aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
}

#stream-buttons {
    padding-top: 0.75em;
}

.playlist {
    margin-top: 5px;
}

.playlist-root {
    list-style-type: none;
    width: 75%;
    margin: 0px auto;
}

.playlist-item {
    text-align: center;
    margin: 2px;
    border-radius: 4px;
}

/* Animations for sliding the playlist when it's visible */
.playlist.ng-enter, .playlist.ng-leave,
.playlist-item.ng-enter, .playlist-item.ng-leave {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    overflow-y: hidden;
}

.playlist-item.ng-leave {
    transition-delay: 0.5s;
}

.playlist.ng-enter, .playlist.ng-leave.ng-leave-active,
.playlist-item.ng-enter, .playlist-item.ng-leave.ng-leave-active {
    max-height: 0;
}

.playlist.ng-enter.ng-enter-active, .playlist.ng-leave.ng-leave-active {
    max-height: 100px;
}

.playlist-item.ng-enter.ng-enter-active, .playlist-item.ng-leave {
    max-height: 20px;
}

.rariboard_alert {
  display: inline-block;
  margin: 0px auto;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.alert-bronytv {
  color: white;
  position: relative;
  width: 250px;
  min-height: 100px;
  height: 100%;
  padding: 0px;
  background: #4F23A2;
  border: #9d75e3 solid 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.alert-bronytv:after {
  position: absolute;
  top: 54px;
  right: -38;
  border-style: solid;
  border-width: 19px 0 19px 38px;
  border-color: transparent #4F23A2;
  display: block;
  width: 0;
  z-index: 1;
}

.alert-bronytv:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 253px;
  border-style: solid;
  border-width: 21px 0 21px 40px;
  border-color: transparent #9d75e3;
  display: block;
  width: 0;
  z-index: 0;
}
[data-notify="message"] {
  padding: 10px;
  position: relative;
  top: 8px;
}
[data-notify="icon"] {
  max-height: 230px;
}
