{% extends "layout.html.jinja2" %}
{% block title %}Admin{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/js/angular/admin/index.js"></script>
    <link rel="stylesheet" href="/static/css/admin/index.css" />
{% endblock %}
{% block content %}
    <div class="row" id="container" ng-app="btvAdminApp" ng-controller="FormsCtrl" ng-init="init()">
        <div class="col-md-5 col-md-offset-1 purple-box-hack" id="left-box">
            <h3>Stream Stuff</h3>
            <div class="form-limit-width">
                <form id="stream-form" novalidate>
                    <div class="form-group">
                        <label for="stream-url">Stream URL:</label>
                        <input id="stream-url" name="stream-url" ng-model="data.stream_url" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="countdown-date">Countdown Date:</label>
                        <input id="countdown-date" name="countdown-data" ng-model="data.countdown_date" type="text" class="form-control" placeholder="MM-DD-YYYY hh:mm:ss" />
                    </div>
                    <button type="submit" class="btn btn-purple" ng-click="updateProperties()" ng-disabled="submitting">Update</button>
                </form>
                <div id="submit-success" class="alert alert-success" ng-show="success">
                    Successfully updated!<button type="button" class="close" ng-click="success = false;">&times;</button>
                </div>
            </div>
            <h3>API</h3>
            <form class="form-limit-width">
                <div class="form-group">
                    <label for="api_key">Your API Key:</label>
                    <input class="form-control" type="text" value="{{ user.get_api_key() }}" id="api_key" readonly="readonly" />
                </div>
            </form>
        </div>
        <div class="col-md-5 purple-box-hack" id="right-box">
            <h3>Dumb Stuff</h3>
            <div class="form-limit-width">
                <form id="dumb-form" novalidate>
                    <div class="form-group">
                        <label for="raribox-image-url">Raribox Image URL:</label>
                        <input id="raribox-image-url" name="raribox-image-url" ng-model="data.raribox_image_url" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="raribox-text">Raribox Text:</label>
                        <textarea id="raribox-text" name="raribox-text" ng-model="data.raribox_text" class="form-control"></textarea>
                    </div>
                    <button type="submit" class="btn btn-purple" ng-click="updateProperties()" ng-disabled="submitting">Update</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}