#container {
    margin-top: 5px;
    margin-bottom: 5px;
}

.purple-box-hack {
    background: rgba(171, 137, 227, 0.25) none repeat scroll 0 0;
    background-size:  100%;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    min-height: 38em;
}

#left-box {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#right-box {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#submit-success {
    margin-top: 10px;
}

.form-limit-width {
    max-width: 50em;
}
